* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: auto;
  width: 100%;
}

.new-element-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  height: 110vh;
  background-color: #fff;
}

.new-container {
  min-width: 375px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.button-and-list {
  background-color: #3c3a39;
  height: 80%;
}

.button-img {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 48px;
  margin-top: 4px;
  padding-right: 30px;
}

.ul-items {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 24px;
}

.ul-items a {
  color: #fff5e1;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  padding-left: 8px;
}

.new-line-1 {
  border: 1px solid #6f6c6b;
}

.popup-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(151, 148, 147, 0.9);
  box-sizing: border-box;
  overflow-y: scroll;
  top: 0;
  left: 0;
}

.popup-details-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: #fff;
  padding: 16px;
  margin: 60px 16px 39px 16px;
}

.popup-name-image {
  display: flex;
  justify-content: space-between;
}

.popup-name {
  color: #172b4d;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.popup-image {
  height: 40px;
  width: 40px;
}

.popup-unorded-list {
  display: flex;
  padding: 0;
  gap: 8px;
}

.popup-list {
  height: 36px;
  width: auto;
  padding: 10px 12px;
  color: #3c3a39;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #979493;
}

.popup-feature-img {
  width: 100%;
}

.popup-description {
  margin-top: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.popup-button {
  margin-top: 12px;
  display: flex;
  gap: 28px;
  justify-content: center;
}

.popup-button-1 {
  display: flex;
  align-items: center;
  height: 48px;
  width: auto;
  background-color: #ff6b00;
  padding: 10px;
}

.popup-button-1 a {
  text-decoration: none;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-right: 12px;
  color: #fff;
}

.homepage {
  min-width: 375px;
  background: url("images/Illustration.svg") bottom -11% right no-repeat;
  background-color: #1c1a19;
  width: 100%;
  height: 100vh;
}

.nav {
  display: flex;
  background-color: #3c3a39;
  height: 48px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-left: 24px;
  padding-right: 36px;
}

.nav-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 18px;
  text-decoration-line: none;
}

.nav-menu {
  width: 40px;
  height: 40px;
}

.links {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
  padding: 72px 24px 120px 24px;
}

.main-main {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main-header {
  font-family: 'Crete Round', serif;
  color: #ff6b00;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  margin: 0;
}

.sub-header {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #fff5e1;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  text-align: left;
}

.main-paragraph {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  color: #fff;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.social-media {
  display: flex;
  align-items: center;
  padding-left: 0;
  height: 40px;
  width: 200px;
}

li {
  list-style: none;
}

.button {
  border: none;
}

.prev-works {
  height: 216rem;
  background-color: rgba(255, 255, 255, 0.24);
  width: 100%;
}

.experience-container {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 24px;
  padding: 120px 24px 120px 24px;
}

.title-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 107px;
  min-width: 327px;
  margin: auto;
}

.experience-title {
  font-family: 'Crete Round', serif;
  color: #1c1a19;
  font-size: 40px;
}

.line {
  border: 1px solid #212121;
  width: 327px;
  height: 0;
}

.project-1 {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.project-1-img {
  width: 100%;
}

.project-1-title {
  font-family: 'Crete Round', serif;
  color: #091e42;
  font-size: 32px;
  margin: 0;
}

.project-1-para {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  color: #091e42;
}

.project-1-list {
  display: flex;
  margin-left: 0;
  gap: 24px;
  padding: 10px 12px 10px 12px;
  align-items: center;
  height: 40px;
}

.list-1 {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  width: auto;
  border: 1px solid #8993a4;
  height: 20px;
  color: #091e42;
}

.project-1-btn {
  height: 48px;
  width: 124px;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  color: #fff;
  border: none;
}

.project-x {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: url("images/Mask Group.svg") 50% 50% /cover no-repeat;
  font-family: 'Inter', sans-serif;
}

.project-x-title {
  font-size: 2rem;
  padding-left: 24px;
  color: #fff;
}

.project-x-para {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  padding-left: 24px;
  padding-right: 24px;
  color: #fff;
}

.project-x-list {
  display: flex;
  gap: 24px;
  height: 40px;
  align-items: center;
}

.proj-list {
  height: 20px;
  width: auto;
  background-color: rgba(255, 255, 255, 0.24);
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  color: #fff;
}

.project-btn {
  height: 48px;
  width: auto;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #fff;
}

.frame-img {
  display: none;
}

.frame-img-2 {
  display: none;
}

.about-me {
  background-color: #1c1a19;
  height: auto;
  padding: 0 24px 120px 24px;
}

.about-container {
  background: url("images/Frame.svg") bottom right  no-repeat;
  background-position-y: 25%;
  display: grid;
  grid-template-rows: auto;
  justify-content: center;
  padding: 120px 24px 120px 24px;
  grid-gap: 24px;
  align-items: center;
}

.about-me-1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 210px;
}

.about-me-title {
  font-family: 'Inter', serif;
  font-size: 72px;
  color: #ff6b00;
  margin-bottom: 0;
  letter-spacing: 0.37px;
}

.about-me-para {
  font-family: 'Inter', sans-serif;
  color: #f4f5f7;
  font-size: 1rem;
  height: 148px;
  line-height: 24px;
}

.about-me-btn {
  height: 48px;
  width: 161px;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 17px;
  color: #fff;
  margin-top: 12px;
  border: none;
}

.line-container {
  height: 17px;
  min-width: 327px;
  margin: auto;
}

.line-1 {
  border: 1px solid #fff;
  height: 0;
}

.about-me-common {
  font-family: 'Inter', sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 120px 24px;
  gap: 24px;
  justify-content: center;
}

.about-start {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.about-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.about-my-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 216px;
  margin: auto;
}

.about-list {
  height: 48px;
  width: auto;
  font-size: 22px;
}

.button:hover {
  background-color: #fff5e1;
  color: #f55800;
}

.form {
  height: 844px;
  background-color: #fff;
  display: flex;
  min-width: 375px;
  flex-direction: column;
  gap: 58px;
  padding: 120px 24px 120px 24px;
  justify-content: center;
}

.form-text {
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #172b4d;
  line-height: 44px;
  text-align: center;
  width: 327px;
  height: 216px;
  margin: auto;
}

.form-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 330px;
  margin: auto;
  margin-top: 0;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 14px;
  height: 48px;
  width: 327px;
}

.input-x {
  height: 18px;
  width: 295px;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
}

input::placeholder {
  color: #979493;
}

input:focus,
textarea:focus {
  outline: none;
}

#feeback-wrong {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  width: 30%;
  border: none;
  color: rgb(217, 21, 21);
}

.textarea {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  height: 114px;
  width: 100%;
  background-color: #fbf8f7;
  margin-top: 24px;
  padding: 12px;
  border: none;
}

.line-y {
  border: 1px solid #dbd8d7;
  height: 0;
}

.button-submit {
  height: 48px;
  width: 131px;
  background-color: #ff6b00;
  color: #fff;
  border: none;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin: auto;
}

.line-f {
  border: 1px solid #dfe1e6;
  width: 100%;
  padding-bottom: 0;
}

.line-z {
  width: 134px;
  border: 5px solid #0d151e;
  border-radius: 10px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  align-items: center;
  height: 72px;
  min-width: 375px;
  padding-bottom: 8px;
}

.social-media-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 200px;
  padding: 0%;
}

.icon-size {
  width: 70%;
  height: 70%;
}

@media screen and (min-width: 768px) {
  body {
    width: 100%;
  }

  .nav {
    height: 72px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .nav-title {
    margin-left: 143px;
  }

  .nav-menu {
    display: none;
  }

  .nav-nav {
    display: flex;
    padding-left: 300px;
    justify-content: center;
  }

  .links {
    margin-top: 16px;
    display: flex;
    margin-right: 151px;
    gap: 24px;
    align-items: center;
  }

  .links li {
    list-style: none;
    text-align: center;
  }

  .links a {
    text-decoration: none;
    color: #fff;
  }

  .homepage {
    background-image: none;
    background-image: url("images/Illustration-header.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 44% 93%;
  }

  .main {
    margin-top: 0;
    display: grid;
    grid-template-columns: 10% 80%;
    grid-template-rows: auto;
    grid-template-areas: "sidebar content";
    width: 70%;
    grid-column-gap: 20px;
  }

  .desktop-main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 56px;
    width: 97%;
    margin-top: 0%;
  }

  .social-media {
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    margin-top: 99%;
    padding-right: 0%;
  }

  .prev-works {
    height: 100%;
    padding: 130px 118px;
  }

  .button .sub-header {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #fff5e1;
    font-size: 1.5rem;
  }

  .main-paragraph {
    height: 123px;
  }

  .title-line {
    height: 52px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .line-4 {
    width: 60%;
  }

  .experience-title {
    font-family: 'Crete Round', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
  }

  .project-1 {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .project-1-img {
    width: 60%;
    height: 100vh;
  }

  .proj1 {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: auto;
    padding-top: 7%;
  }

  .hide-me {
    display: none;
  }

  .proj-list {
    margin-bottom: 0;
  }

  .desk-proj1 {
    position: relative;
    background: url("images/todo.png") -9% 50% /cover no-repeat;
    border: 1px solid #091e42;
  }

  .hide-us {
    display: none;
  }

  .btn-1 {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .desk-proj4 {
    background: url("images/Mask Group.svg") 50% 50% /cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
  }

  .desk-proj4-4 {
    align-self: flex-start;
    padding-top: 35%;
  }

  .desk-proj2,
  .desk-proj5 {
    background: url("images/2and5.png") 50% 50% /cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
  }

  .desk-proj2-5 {
    align-self: flex-start;
    padding-top: 35%;
  }

  .desk-proj3,
  .desk-proj6 {
    background: url("images/3and6.png") 50% 50% /cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
  }

  .desk-proj3-6 {
    align-self: flex-start;
    padding-top: 50%;
  }

  .ul-same-margin {
    align-self: flex-start;
    padding-bottom: 0.1%;
    padding-left: 4.1%;
  }

  .common-components {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    grid-gap: 12px;
    margin-top: 12px;
  }

  .line-1 {
    min-width: 1156px;
    margin: auto;
  }

  .about-me {
    padding: 0%;
  }

  .about-container {
    background: none;
    margin: 130px 118px;
  }

  .about-me-1 {
    background: url("images/about-frame.svg") top 46% right -12% no-repeat;
    background-size: auto;
  }

  .desktop {
    padding-top: 130px;
    padding-bottom: 130px;
    margin-top: 0;
    width: 40%;
    height: 45%;
    margin-right: 700px;
  }

  .about-me-para {
    max-width: 566px;
  }

  .about-me-common {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    position: relative;
    padding: 130px 118px;
  }

  .form-text {
    width: 35%;
    margin-top: 0;
  }

  .form-form {
    width: 60%;
  }

  .input {
    width: 50%;
  }

  .line-y {
    margin-left: 0;
    width: 100%;
  }

  .button-submit {
    margin-left: 0;
  }

  .new-container {
    display: none;
  }

  .popup-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(151, 148, 147, 0.9);
    place-content: center;
  }

  .popup-details-container {
    width: 80%;
    margin-bottom: 112px;
    margin-inline: auto;
  }

  .desktop-diff {
    display: flex;
    gap: 24px;
  }

  .left-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .popup-feature-img {
    width: 65%;
  }
}
